/* Подключаем шрифт логотипа */
@font-face {
	font-weight: 900;
	font-family: "Comforter";
	src: url("../fonts/Comforter.ttf");
}

/* Подключаем шрифт обычного текста */
@font-face {
	font-weight: 300;
	/* Соответствует значению normal */
	font-family: "Lato";
	src: url("../fonts/Lato-Light.ttf");
}

@font-face {
	font-weight: 400;
	/* Соответствует значению normal */
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
	font-weight: 500;
	font-family: "Lato";
	src: url("../fonts/Lato-Medium.ttf");
}

@font-face {
	font-weight: 600;
	font-family: "Lato";
	src: url("../fonts/Lato-Semibold.ttf");
}

@font-face {
	font-weight: 700;
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
	font-weight: 900;
	font-family: "Lato";
	src: url("../fonts/Lato-Black.ttf");
}

.comforter {
	font-family: 'Comforter', sans-serif;
}

/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	font-family: 'Amatic SC', sans-serif;
	cursor: default;
	line-height: 120%;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 130%;
	overflow-x: hidden;

	background: #151515;
	color: #fff;
}

html {
	overflow-x: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Элементы a */
a {
	text-decoration: none;
	font-weight: 600;
	color: #000;
}

/* Упрощаем работу с изображениями */
img {
	display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

button,
select {
	cursor: pointer;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}


/* общие стили */
.wrapper {
	max-width: 1380px;
	padding: 0 30px;
	margin: 0 auto;
}

.img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title {
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.04em;
	margin-bottom: 20px;
}

.text {
	font-size: 25px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 0.04em;
	margin-bottom: 20px;
}

.btn-empty {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.04em;
	border-radius: 50px;
	border: 2px solid #fff;
	filter: drop-shadow(0 0 10px #fff);
	padding: 10px;
	outline: none;
	cursor: pointer;
}

.btn-full {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.04em;
	border-radius: 50px;
	border: 2px solid #fff;
	background-color: #fff;
	filter: drop-shadow(0 0 10px #fff);
	color: #000;
	padding: 10px;
	outline: none;
	cursor: pointer;
}




/* header */
#header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
}

.hedaer-padding {
	height: 80px;
}

.header-inner {
	background: #151515;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.logo {
	display: flex;
	flex-direction: column;
	max-width: max-content;
}

.logo .comforter {
	font-size: 50px;
}

.logo .comforter span {
	color: #20B4AB;
}


.logo p+p {
	font-family: 'Amatic SC', sans-serif;
	font-size: 18px;
	margin-top: -15px;
	transform: rotate(354deg);
	text-align: right;
	color: #20B4AB;
}

#header .btn-empty {
	padding: 5px 20px;
	line-height: 1;
}




/* Каталог */
.catalog {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 60px 20px;
	margin-bottom: 80px;
}

.catalog-title {
	text-align: center;
}

/* Карточка товара */

.prod-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
	transition: .3s;
}

.prod-card:hover,
.prod-card:focus {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.prod-card-thumb {
	position: relative;
}

.prod-card-thumb-slide {
	position: relative;
	display: block;
	width: 100%;
	height: 265px;
}

.prod-card-title {
	color: #fff;
	display: block;
	text-align: center;
	font-weight: 700;
	font-size: 27px;
	line-height: 120%;
	padding: 10px 15px 20px;
	letter-spacing: 0.04em;
}

.prod-card-nalich {
	font-weight: 400;
	font-size: 20px;
	position: relative;
	padding-left: 22px;
	max-width: max-content;
	margin: 0 auto 10px;
	letter-spacing: 0.04em;
}

.prod-card-price {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 10px;
	text-align: center;
	margin-bottom: 20px;
}

.prod-card-price p {
	font-weight: 700;
	font-size: 40px;
	line-height: 120%;
	color: #20B4AB;
	font-family: 'Comforter', sans-serif;
	letter-spacing: 0.04em;
}

.prod-card-price p span {
	font-family: 'Amatic SC', sans-serif;
}

.prod-card-price._sale p:last-child {
	color: rgb(176, 176, 176);
	font-size: 25px;
	line-height: 120%;
	text-decoration-line: line-through;
}

.prod-card-nalich:before {
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	background-image: url(../images/icon/check.svg);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: calc(50% - 7px);
	left: 0;
}

.prod-card-btns {
	display: flex;
	align-items: center;
	gap: 10px;
}

.prod-card-btns>* {
	flex-grow: 1;
}

.swiper-pagination-bullet {
	background-color: #fff;
}

.swiper-pagination-bullet-active {
	background-color: #20B4AB;
}










/* Открывающий баннер */
.opening {
	margin-bottom: 50px;
}

.opening-slide {
	/* min-height: calc(100vh - 80px); */
	position: relative;
}

/* Слайд 1 */
.slide-1 {
	position: relative;
	padding-top: 50px;
	padding-bottom: 125px;
	max-width: 500px;
}

.slide-1:before {
	content: '';
	display: block;
	width: 33px;
	height: 186px;
	transform: rotate(26deg);
	background-color: #20B4AB;
	filter: blur(39px);
	position: absolute;
	z-index: -1;
	top: 66px;
	left: 90px;
}

.slide-1 .title span {
	color: #20B4AB;
}

.slide-1 p {
	font-size: 20px;
	letter-spacing: 0.04em;
}

.opening-img {
	position: absolute;
	width: 206px;
	bottom: 0;
	right: 0;
}






/* футер */
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}

.footer-link {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.footer-link p {
	text-align: center;
	font-size: 20px;
}

.footer-link a {
	text-align: center;
	font-size: 23px;
	color: #20B4AB;
	filter: drop-shadow(0 0 5px #20B4AB);
}








/* Попап */
.formPopup-body {
	background-color: #fff;
	border-radius: 20px;
	filter: drop-shadow(0 0 10px #fff);
	padding: 70px 30px 50px;
	color: #000;
}

.formPopup-body .btn-empty {
	border: 2px solid #000;
}

.form-gorizont form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form-gorizont input[type=text],
.form-gorizont input[type=tel] {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.04em;
	border-radius: 50px;
	border: 2px solid #000;
	padding: 10px 20px;
}






/* слайдер */
.slick-dots {
	min-height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slick-dots li {
	margin-right: 10px;
}

.slick-dots li:last-child {
	margin-right: 0;
}

.slick-dots button {
	font-size: 0;
	outline: none;
	width: 15px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background-color: #dbdbdb;
	transition: .3s;
}

.slick-dots .slick-active button {
	background-color: #C20E1A;
	transform: scale(1.2);
}




.burger-menu,
.menubox {
	display: none;
}

@media screen and (max-width: 980px) {

	/* бургер */
	.burger-menu {
		display: flex;
		align-items: center;
		width: 30px;
		height: 30px;
		cursor: pointer;
		position: relative;
		z-index: 11;
		transition: .25s;
	}

	.burger-menu>span,
	.burger-menu>span::before,
	.burger-menu>span::after {
		display: block;
		position: absolute;
		width: 30px;
		height: 3px;
		background-color: #C20E1A;
		transition-duration: .25s;
	}

	.burger-menu>span::before {
		content: '';
		top: -8px;
	}

	.burger-menu>span::after {
		content: '';
		top: 8px;
	}

	/* меню */
	.menubox {
		display: block;
		align-items: center;
		position: fixed;
		visibility: hidden;
		opacity: 0;
		top: 0px;
		right: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 80px 15px 15px 15px;
		list-style: none;
		background-color: #f8f8f8;
		z-index: 9;
		transition-duration: .25s;
		overflow-y: scroll;
	}

	.menubox__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	.menubox ul {
		list-style: none;
		padding: 0;
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		line-height: 2.5;
	}

	.menubox__bottom {
		height: 20%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.menubox__bottom a {
		color: #000;
		font-size: 17px;
		text-align: center;
	}

	.menubox ul li {
		text-align: center;
	}

	.menubox ul li a {
		color: #000;
		font-size: 18px;
	}

	/* работа меню */
	.burger-menu.active>span {
		background-color: initial;
	}

	.burger-menu.active>span::before {
		top: 0;
		transform: rotate(-45deg) scale(1);
	}

	.burger-menu.active>span::after {
		top: 0;
		transform: rotate(45deg) scale(1);
	}

	.active.menubox {
		visibility: visible;
		opacity: 1;
	}

	body._lock {
		overflow-y: hidden;
		height: 100vh;
	}

	.wrapper {
		padding-right: 15px;
		padding-left: 15px;
	}
}


@media screen and (max-width: 980px) {
	.catalog {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px 15px;
	}

	.prod-card {
		width: calc(50vw - 25px);
	}

	.prod-card-thumb-slide {
		height: 200px;
	}

	.prod-card-title {
		font-size: 23px;
	}

	.prod-card-btns>* {
		font-size: 17px;
	}
}